{% load static %}


<!-- Start First Pet Photo Post -->
<div class="card">
    <div class="top">
        <!-- User Details and image location -->
        <div class="userDetails">
            <a href="{% url 'profile-details' photo.user.pk %}">
                <div class="profilepic">
                    <div class="profile_img">
                        {% if photo.user.profile.profile_picture %}
                            <div class="image">
                                <img src="{{ photo.user.profile.profile_picture }}" alt="img8">
                            </div>
                        {% else %}
                            <div class="image">
                                <img src="{% static 'images/person.png' %}" alt="img8">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </a>
            <h3>
                <a href="{% url 'profile-details' photo.user.pk %}">
                    <!-- if user has first name and last name -->
                    {{ photo.user.profile.get_full_name }}
                    <!-- else -->
                    <!-- user username -->
                </a>
                <br>
                <!-- if the photo has location -->
                {% if photo.location %}
                    <span>{{ photo.location }}</span>
                {% endif %}

                {% if photo_page %}
                    <!-- IF the viewer is the creator of the photo -->
                    {% if photo.user.pk == request.user.pk %}
                        <div class="edit-delete-btns">
                            <!-- Link to Edit Pet Photo` Page `-->
                            <a href="{% url 'photo-edit' photo.pk %}">
                                <img class="edit-img" src="{% static '/images/edit-pen-icon-6.jpg' %}"
                                     alt="edit button">
                            </a>
                            <!-- Link to Delete Pet Photo Page -->
                            <a href="{% url 'photo-delete' photo.pk %}">
                                <img class="bin-img" src="{% static '/images/icon-remove-22.jpg' %}"
                                     alt="bin button">
                            </a>
                        </div>
                    {% endif %}
                    <!-- End IF the viewer is the creator of the photo -->
                {% endif %}
            </h3>
        </div>
        <!--  -->
    </div>
    <!-- Post image -->
    <div class="imgBx" id="{{ photo.pk }}">
        <img src="{{ photo.photo.url }}" alt="post" class="cover">
    </div>
    <!-- -->

    <div class="bottom">
        <!-- like and share buttons -->
        <div class="actionBtns">
            <div class="left">
                <span class="heart">
                    <a href="{% url 'like' photo.pk %}">
                        {% if photo.has_liked %}
                            <i class="fa-solid fa-thumbs-up" style="color: #408eed;"></i>
                        {% else %}
                            <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                    </a>
                </span>
                <a href="{% url 'share' photo.id %}">
                    <i class="fa-solid fa-share"></i>
                </a>
            </div>
        </div>
        <!-- -->

        <a href="#">
            <p class="likes">{{ photo.like_set.count }}</p>
        </a>

        <!-- tagged pets -->
        {% for pet in photo.tagged_pets.all %}
            <a href="{% url 'pet-details' photo.user.profile.get_full_name|lower pet.slug %}">
                <p class="message">
                    <b>{{ pet.name }}</b>
                </p>
            </a>
        {% endfor %}
        <!--  -->
        {% if photo_page %}
            <!-- Photo description -->
            <p class="pet-details">{{ photo.description }}</p>

        {% else %}
            <a href="{% url 'photo-details' photo.pk %}">
            <h4 class="details">See details</h4>
        {% endif %}

        <h5 class="postTime">{{ photo.date_of_publication }}</h5>

        {% if photo_page %}
            <!-- Start Comments Section -->
            {% for comment in comments %}
                <div class="comments">
                    <div class="top">
                        <div class="userDetails">
                            <div class="comment-data">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <!-- User Profile Image -->
                                            {% if comment.user.profile.profile_picture %}
                                                <img src="{{ comment.user.profile.profile_picture }}" alt="img8">
                                            {% else %}
                                                <img src="{% static 'images/person.png' %}" alt="img8"></img>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <!-- Link to User Profile Details Page-->
                                    <!-- User First and/or Last Name or username-->
                                    <a href="{% url 'profile-details' comment.user.pk %}">{{ photo.user.profile.get_full_name }}</a>
                                    <!-- User Comment --> {{ comment.text }}
                                </p>
                            </div>
                            <span>{{ comment.date_time_of_publication }}</span>
                        </div>
                    </div>
                </div>
                <!-- End Comments Section --> {% endfor %}
        {% endif %}

        <!-- add comments section -->
        <div class="addComments">

            <form method="post" action="{% url 'comments' photo.pk %}">
                {% csrf_token %}
                {{ comment_form }}

                <button type="submit">Post</button>
            </form>
        </div>
        <!--  -->
        </a>
    </div>
</div>
<!-- End  First Pet Photo Post -->